<div id="<%= dom_id article %>">
  <section class="article-show">
    <h2 class="title"><%= @article.title %></h2>
    <p class="content"><%= simple_format (@article.content) %></p>
  </section>
</div>
